[autogen]
/www/dist
/www/assets/locales/*.json
/doc/api
/.jshint.html
/tests.html
/assets
*.swp

[assets]
/www/assets/fonts/*/index.html
*.zip
*.gz

[env]
exclude
/.sublime-project.sublime-workspace
/.grunt
/node_modules
/www/src
/www/vendor