@charset "UTF-8";

@base-url: "/assets";
@images-url: "@{base-url}/images";
@fonts-url: "@{base-url}/fonts";
@fonts-path: "../../www/assets/fonts";
@vendor-path: "../../vendor/css";

@import "@{vendor-path}/normalize";
@import "@{vendor-path}/pikaday";
