<div>
  <h1>TogglCrunch</h1>
  <hr />
  <form class="form">
    <div class="row">
      <div class="col-xs-6">
        <input
          type="text"
          name="apiToken"
          id="apiToken"
          class="form-control"
          placeholder="{{t 'forms.api_token_placeholder' 'Your Toggl API Token'}}" />
      </div>
      <div class="col-xs-6 row">
        <input
          type="submit"
          class="btn btn-primary"
          value="{{t 'sign_in' 'Enter'}}" />
        <span
          class="btn btn-default btn-sm"
          data-content="{{t 'tooltips.api_token_help' }}"
          title="{{t 'tooltips.api_token_help_title'}}"

          data-placement="bottom"
          data-trigger="click">?</span>
      </div>
    </div>
  </form>

  <div data-container="WorkspacesView"></div>
</div>