<div>
  <h1>TogglCrunch</h1>
  <hr />
  <form class="form">
    <div class="row">
      <div class="col-xs-6">
        <input
          type="text"
          name="apiToken"
          id="apiToken"
          class="form-control"
          placeholder="Your Toggl API Token"
          value="f95069a38285be3a529d1e0a0e239659" />
      </div>
      <div class="col-xs-6 row">
        <input
          type="submit"
          class="btn btn-primary"
          value="{{t 'sign_in' 'Enter'}}" />
        <span class="btn btn-default btn-sm">?</span>
      </div>
    </div>
  </form>

  <div data-container="WorkspacesView"></div>
</div>